CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.cmake
*.a
*.pyc
SimpleAbcViewer
abcview
.build
release
debug
*.dblite
excons.cache
maya/AbcShape/AE*Template.mel
arnold/abcproc/*.py
