[submodule "excons"]
	path = excons
	url = git@github.com:marza-animation-planet/excons.git
[submodule "openexr"]
	path = openexr
	url = git@github.com:marza-animation-planet/openexr.git
[submodule "abcview"]
	path = abcview
	url = git@github.com:marza-animation-planet/abcview
[submodule "cask"]
	path = cask
	url = git@github.com:marza-animation-planet/cask
