# external files
.DS_Store
*.pyc
*.swp
*~
*.vcxproj*

# cmake files
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

# build files
*.a
*.so
*.dll
*.dylib
*_Test
*_Test_Jeffs
SimpleAbcViewer
build

.build
release
debug
maya/AbcShape/AE*Template.mel
maya/AbcShape/*.py
maya/AbcShape/*AbcMaterialEditor.mel
maya/AbcShape/*AbcMaterialEditor.py
maya/AbcShape/mtoa/*.py
arnold/abcproc/*.py
arnold/abcproc/abcproc.env.tmp
/dist/
/eco/
/*.env.tmp
/*.cmake.*
/*.status
/config.log
/.sconf_temp/
/*.dblite
/excons.cache
