CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.cmake
*.a
*.pyc
*.swp
SimpleAbcViewer
abcview
.build
release
debug
*.dblite
excons.cache
maya/AbcShape/AE*Template.mel
maya/AbcShape/*.py
maya/AbcShape/*AbcMaterialEditor.mel
maya/AbcShape/*AbcMaterialEditor.py
maya/AbcShape/mtoa/*.py
arnold/abcproc/*.py
arnold/abcproc/abcproc.env.tmp
/dist/
/eco/
/*.env.tmp
/*.cmake.*
/config.log
/.sconf_temp/
